[ req ]
prompt            = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName                     = XX
stateOrProvinceName             = XX
localityName                    = RobotEntity Computation Hub 0
commonName                      = Etherbloom
emailAddress                    = etherbloom@mailbox.org 
organizationName                = Etherbloom Systems
organizationalUnitName          = Hive Root Node

[ policy ]
countryName             = supplied
stateOrProvinceName     = supplied
localityName            = supplied
commonName              = supplied
emailAddress            = supplied
organizationName        = supplied
organizationalUnitName  = supplied
